.about__content {
    padding: 1rem;
    display: block;
    border-radius: 5px;
    background-color: #112240;
}

.about__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__card {
    color: var(--color-gray);
    background-color: var(--color-darknavy);
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    flex-grow: 1;
    margin: 1rem;
}

.about__card h3 {
    font-size: 0.7rem;
}

.about__card a {
    color: var(--color-gray);
}

.about__content p {
    vertical-align: middle;
    text-align: justify;
    line-height: 1.7rem;
    color: var(--color-gray);
    padding: 1rem 2rem;
}

/* --------MEDIA QUERIES FOR SMALL DEVICES (medium: tablets)-------- */
/* @media screen and (max-width: 1024px) {
} */

/* --------MEDIA QUERIES FOR SMALL DEVICES (small: mobile)-------- */
/* @media screen and (max-width: 600px) {
} */